<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YOUR SOUL CHARACTER</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="container">
        <h1>YOUR SOUL CHARACTER</h1>

        <video id="video" autoplay></video>
        <br><br>

        <button onclick="scan()">Scan Face</button>

        <div class="result">
            <img id="img" src="">
            <h2 id="line">Allow camera & scan</h2>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>